:root {
	--awesome-default-background-color: var(--dokan-sidebar-background-color, #322067);
	--awesome-default-font-color: #ffffff;
	--awesome-default-font-background-color: #7047EB;
	--awesome-default-sidebar-font-color: #ffffff;
	--awesome-default-sidebar-font-active-color: #ffffff;
	--awesome-default-content-background-color: #f8fafc;
}

.awesome-dokan-header {
	display: flex;
	padding: 20px 18px;
	background: var(--awesome-header-background-color, var(--awesome-default-background-color));
	flex-wrap: wrap;
	gap: 15px;
	box-shadow: 0px 7px 14px -10px rgba(0, 0, 0, 0.49);
	-webkit-box-shadow: 0px 7px 14px -10px rgba(0, 0, 0, 0.49);
	-moz-box-shadow: 0px 7px 14px -10px rgba(0, 0, 0, 0.49);
	margin: 0;
	position: absolute;
	width: 100%;
	z-index: 9999;
	top: 0;
	left: 0;
	flex-direction: row;
	align-content: space-between;
	align-items: stretch;
	justify-content: space-between;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	max-height: 76px;
}

.dokan-dashboard .awesome-dokan-wrapper .awesome-header-logo-title {
	padding: 18px 5px 25px 18px;
	display: flex;
	column-gap: 12px;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}

.dokan-dashboard .awesome-dokan-wrapper .awesome-header-logo-title {
	border-bottom: 0.5px solid var(--awesome-sidebar-font-background-color, var(--awesome-default-font-background-color))
}

.dokan-dashboard .awesome-dokan-wrapper.theme_one .dokan-dash-sidebar .awesome-header-logo-title {
	display: none
}

.awesome-dokan-fullscreen-mode .awesome-dokan-header {
	position: fixed;
	z-index: 99999;
	top: 0;
	left: 0;
	width: 100%;
	border-radius: 0
}

.dokan-dashboard #awesome_dokan_wrapper.awesome-dokan-fullscreen-mode .dokan-dashboard-wrap {
	height: 100%
}

.dokan-dashboard #awesome_dokan_wrapper .dokan-dash-sidebar ul.dokan-dashboard-menu li.active:after {
	left: auto;
	right: 0;
}

.awesome-header-left {
	display: flex;
	align-items: center;
	gap: 12px;
}

.awesome-dokan-wrapper a.awesome-dashboard-logo {
	text-decoration: none !important;
	line-height: 0;
	width: 36px;
	height: 36px;
}

.awesome-dokan-wrapper .awesome-dashboard-logo i {
	color: var(--awesome-header-font-color, var(--awesome-default-font-color));
	text-decoration: none;
	font-size: 34px;
	line-height: 37px;
}

.awesome-dokan-wrapper .awesome-dashboard-logo img {
	border-radius: 4px;
	max-width: 36px;
}

.awesome-dokan-wrapper .awesome-dokan-header-title {
	font-size: 17px !important;
	font-weight: 500 !important;
	color: var(--awesome-header-font-color, var(--awesome-default-font-color)) !important;
	line-height: 21px !important;
	display: inline-block;
	margin: 0 !important;
}

.awesome-dokan-wrapper .awesome-dokan-header-title span {
	font-size: 15px;
	font-weight: normal;
	font-style: italic;
}

.awesome-dokan-wrapper .dokan-dash-sidebar .awesome-dokan-header-title {
	color: var(--awesome-sidebar-font-color, var(--awesome-default-sidebar-font-color)) !important;
}

.awesome-dokan-header .awesome-header-right {
	display: flex;
	align-items: center;
	gap: 33px;
}

.awesome-dokan-header .icon-btn {
	position: relative;
	padding: 0;
	margin: 0;
	border-radius: 50%;
	color: var(--awesome-header-font-color, var(--awesome-default-font-color)) !important;
	text-decoration: none;
	transition: background 0.2s ease;
	outline: 0
}

.awesome-dokan-header .icon-btn:hover,
.awesome-dokan-header .icon-btn:active,
.awesome-dokan-header .icon-btn:focus,
.awesome-user-avatar:hover i {
	background-color: none;
	outline: 0;
	opacity: 0.8
}

.awesome-dokan-header .icon-btn i {
	font-size: 16px;
}

.awesome-dokan-header .badge {
	line-height: 20px;
	position: absolute;
	top: -8px;
	right: -14px;
	background: #ef4444;
	color: #ffffff;
	font-size: 10px;
	border-radius: 50%;
	padding: 0;
	width: 20px;
	height: 20px;
	text-align: center;
}

/*.awesome-dokan-header .awesome-avatar-wrap {
	position: relative;
}*/

.awesome-user-avatar {
	display: flex;
	align-items: center;
	background: none;
	border: none;
	cursor: pointer;
	gap: 6px;
}

.awesome-user-avatar img {
	border-radius: 50% !important;
	width: 36px;
	height: 36px;
	box-shadow: 0 0px 1px rgb(0 0 0 / 87%);
}

.awesome-avatar-dropdown {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background: var(--awesome-header-background-color, var(--awesome-default-background-color)) !important;
    border-radius: 5px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    min-width: 150px;
    z-index: 999;
    padding: 10px 0 !important;
    margin: 0 !important;
    transition: 0.5s;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.awesome-avatar-dropdown li {
	list-style: none;
}

.awesome-avatar-dropdown a {
	display: block;
	padding: 6px 16px;
	color: var(--awesome-header-font-color, var(--awesome-default-font-color)) !important;
	text-decoration: none;
	font-size: 14px;
	text-decoration: none !important
}

.awesome-avatar-dropdown a i {
	margin-right: 7px;
}

.awesome-avatar-dropdown a:hover {
	opacity: 0.8;
	font-weight: bold;
}

.awesome-dokan-wrapper {
	position: relative;
	padding-top: 75px;
}

.dokan-dashboard .awesome-dokan-wrapper .dokan-dash-sidebar ul.dokan-dashboard-menu,
.dokan-dashboard .awesome-dokan-wrapper .dokan-dash-sidebar ul.dokan-dashboard-menu li ul.navigation-submenu,
.dokan-dashboard .awesome-dokan-wrapper .dokan-dash-sidebar ul.dokan-dashboard-menu li:hover:not(.active) ul.navigation-submenu,
.dokan-dashboard .awesome-dokan-wrapper .dokan-dash-sidebar ul.dokan-dashboard-menu li ul.navigation-submenu li {
	background-color: var(--awesome-sidebar-background-color, var(--awesome-default-background-color)) !important;
}

.dokan-dashboard .awesome-dokan-wrapper .dokan-dash-sidebar {
	background-color: var(--awesome-sidebar-background-color, var(--awesome-default-background-color)) !important;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.dokan-dashboard .awesome-dokan-wrapper .dokan-dash-sidebar ul.dokan-dashboard-menu li:hover:not(.active).has-submenu:after {
	border-color: transparent var(--awesome-sidebar-background-color, var(--awesome-default-background-color)) transparent transparent;
	border-left-color: var(--awesome-sidebar-background-color, var(--awesome-default-background-color));
}

.dokan-dashboard .awesome-dokan-wrapper .dokan-dashboard-content {
	background: var(--awesome-content-background-color, var(--awesome-default-content-background-color));
	padding-top: 20px !important;
	padding-right: 15px !important;
	padding-bottom: 15px !important
}

.dokan-dashboard .awesome-dokan-wrapper .dokan-dash-sidebar ul.dokan-dashboard-menu li.active:after {
	border-color: transparent var(--awesome-content-background-color, var(--awesome-default-content-background-color)) transparent transparent;
	border-left-color: var(--awesome-content-background-color, var(--awesome-default-content-background-color));
}

.dokan-dashboard .awesome-dokan-wrapper .dokan-dash-sidebar {
	padding-top: 1px;
}

.padding-left-15 {
	padding-left: 15px !important
}

.awesome-header-left .awesome-navigation-toggle {
	display: none;
	color: var(--awesome-header-font-color, var(--awesome-default-font-color));
}

.awesome-dokan-wrapper .awesome-user-avatar i {
	font-size: 12px;
	color: var(--awesome-header-font-color, var(--awesome-default-font-color));
}

.awesome-dokan-wrapper a.awesome-user-avatar {
	text-decoration: none !important;
}

.awesome-dokan-wrapper .dokan-form-control {
	padding: 4px 6px !important;
}

a.awesome-navigation-toggle-button {
	outline: 0;
	text-decoration: none
}

a.awesome-navigation-toggle-button i {
	color: var(--awesome-header-font-color, var(--awesome-default-font-color));
	font-size: 16px;
}

a.awesome-navigation-toggle-button:hover i {
	opacity: 0.8;
}

.awesome-dokan-wrapper .woocommerce-layout__header {
	background: transparent;
}

.dokan-dashboard .awesome-dokan-wrapper .dokan-dash-sidebar ul.dokan-dashboard-menu li.active,
.dokan-dashboard .awesome-dokan-wrapper .dokan-dash-sidebar ul.dokan-dashboard-menu li:hover {
	background-color: var(--awesome-sidebar-font-background-color, var(--awesome-default-font-background-color)) !important;
}

.dokan-dashboard .awesome-dokan-wrapper .dokan-dash-sidebar ul.dokan-dashboard-menu li a,
.dokan-dashboard .awesome-dokan-wrapper .dokan-dash-sidebar ul.dokan-dashboard-menu li ul.navigation-submenu li a {
	color: var(--awesome-sidebar-font-color, var(--awesome-default-sidebar-font-color)) !important;
}

.dokan-dashboard .awesome-dokan-wrapper .dokan-dash-sidebar ul.dokan-dashboard-menu li.active a,
.dokan-dashboard .awesome-dokan-wrapper .dokan-dash-sidebar ul.dokan-dashboard-menu li:hover a,
.dokan-dashboard .awesome-dokan-wrapper .dokan-dash-sidebar ul.dokan-dashboard-menu li ul.navigation-submenu li:hover a,
.dokan-dashboard .awesome-dokan-wrapper .dokan-dash-sidebar ul.dokan-dashboard-menu li ul.navigation-submenu li.current a {
	color: var(--awesome-sidebar-font-active-color, var(--awesome-default-sidebar-font-active-color)) !important;
}

.dokan-dashboard .awesome-dokan-wrapper .dokan-dash-sidebar ul.dokan-dashboard-menu li ul.navigation-submenu li:hover:before,
.dokan-dashboard .awesome-dokan-wrapper .dokan-dash-sidebar ul.dokan-dashboard-menu li ul.navigation-submenu li.current:before {
	border-color: var(--awesome-sidebar-font-active-color, var(--awesome-default-sidebar-font-color)) !important;
}

.dokan-dashboard .awesome-dokan-wrapper .dokan-dash-sidebar ul.dokan-dashboard-menu li.active ul.navigation-submenu {
	border-bottom: 0.5px solid var(--awesome-sidebar-font-background-color, var(--awesome-default-font-background-color));
}

/*Awesome toggle button*/
.awesome-toggle-switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 18px;
}

.awesome-toggle-switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.awesome-toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.awesome-toggle-slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.awesome-toggle-switch input:checked + .awesome-toggle-slider {
  background-color: #2196F3;
}

.awesome-toggle-switch input:focus + .awesome-toggle-slider {
  box-shadow: 0 0 1px #2196F3;
}

.awesome-toggle-switch input:checked + .awesome-toggle-slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

.awesome-toggle-slider.round {
  border-radius: 34px;
}

.awesome-toggle-slider.round:before {
  border-radius: 50%;
}

.awesome-header-center {
    display: flex;
    align-items: center;
}

.awesome-toggle-button .awesome-fullscreen-toggle-title {
	color: var(--awesome-header-font-color, var(--awesome-default-font-color));
	font-size: 15px;
}

.awesome-disabled{
	opacity: 0.8;
	pointer-events: none
}

@media (max-width: 767px) {
	.awesome-header-right {
		gap: 25px;
	}

	.dokan-dashboard .awesome-dokan-wrapper .dokan-dash-sidebar {
		display: none
	}

	.dokan-dashboard .awesome-dokan-wrapper .dokan-dashboard-content {
		padding-left: 15px;
	}

	.awesome-dokan-wrapper .awesome-dashboard-logo,
	.awesome-dokan-wrapper .awesome-dokan-header-title {
		display: none
	}

	.awesome-dokan-wrapper .dokan-dash-sidebar .awesome-dashboard-logo,
	.awesome-dokan-wrapper .dokan-dash-sidebar .awesome-dokan-header-title {
		display: block
	}

	.awesome-header-left .awesome-navigation-toggle {
		display: block
	}

	.awesome-header-right .awesome-navigation-toggle-button {
		display: none
	}

	.awesome-hide-mobile {
		display: none
	}

	.awesome-dokan-wrapper .dokan-dashboard-menu li.settings.has-submenu {
		position: relative;
	}

	.awesome-dokan-wrapper .dokan-dashboard-menu li.settings.has-submenu a {
		display: inline-block
	}

	.awesome-dokan-wrapper .dokan-dashboard-menu li.settings.has-submenu i.fa-caret-right.menu-dropdown {
		position: absolute;
		top: 17px;
		right: 0;
		transform: rotate(90deg);
		color: #fff !important;
		display: inline-block !important;
	}

	.dokan-dashboard .awesome-dokan-wrapper .dokan-dash-sidebar ul.dokan-dashboard-menu li ul.navigation-submenu {
		position: unset !important;
		box-shadow: unset !important;
		display: none
	}

	.dokan-dashboard .awesome-dokan-wrapper .dokan-dash-sidebar ul.dokan-dashboard-menu li.active ul.navigation-submenu {
		display: block
	}

	.dokan-dashboard .awesome-dokan-wrapper .dokan-dash-sidebar ul.dokan-dashboard-menu li:hover:not(.active).has-submenu:after {
		content: none !important
	}

	.dokan-dashboard .awesome-dokan-wrapper .dokan-dash-sidebar ul.dokan-dashboard-menu li:hover a i.menu-dropdown {
		display: inline-block !important;
	}

	.dokan-dashboard .awesome-dokan-wrapper .dokan-dash-sidebar {
		padding-top: 0
	}

	.dokan-dashboard .awesome-dokan-wrapper .dokan-dash-sidebar ul.dokan-dashboard-menu li {
		display: block;
		border-right: 0;
	}

	a.awesome-navigation-toggle-button.awesome-desktop-navigation.icon-btn {
		display: none
	}
	
	.dokan-dashboard .awesome-dokan-wrapper.theme_one .dokan-dash-sidebar .awesome-header-logo-title {
		display: flex
	}

	.awesome-toggle-button .awesome-fullscreen-toggle-title {
		display: none
	}
}

@media (max-width: 430px) {

	.dokan-dashboard .awesome-dokan-wrapper .dokan-dashboard-content article {
		overflow: unset;
		padding-left: 5px;
		padding-right: 5px;
	}
}